.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #188718;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;

}
.topbarLeft{
    flex: 3;
}
.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.topbarCenter{
    flex: 5;
}
.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    align-items: center;
    display: flex;

}
.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
    margin-right: 10px;

}
.searchinput{
    border: none;
    width: 80%;
}
.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.topbarLink{
    margin-right: 8px;
    font-size: 16px;
}
.topbarIcons{
    display: flex;
}
.topbarIconItem{
    margin-right: 16px;
    cursor: pointer;
    position: relative;
}
.topbarIconBadge{
    width: 12px;
    height: 12px;
    position: absolute;
    top:-2px;
    right: -4px;
    display: flex;
    align-content: center;
    font-size: 10px;
}
.topbarImg{
    width: 32px;
    height: 32px;
    /* border-radius: 50%; */
    object-fit: cover;
    cursor: pointer;
}