/* 
// created by Ishan Bajaj at 20220502 12:20.
// 
// this is made by me

*/
.sidebar{
    flex: 3;
    height: calc(1000px -  50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

  
.sidebarWrapper{
padding: 20px;
background-color: whitesmoke;
}
.sidebarList{
    padding: 0;
    margin:0;
    list-style:none;
}
.sidebarListItem{
display: flex;
margin-bottom: 20px;
align-items: center;
}
.sidebarIcon{
    margin-right: 10px;
}
.sidebarHr{
    margin-top: 10px;
    margin-bottom: 10px;

}
.sidebarFriend{
    margin: 20px;
    padding: 0;
    list-style: none;

}
.sidebarFriendList{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.sidebarFriendImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    padding-right: 5px;
}